.header{
    width: 1440px;
    height: 70px;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.header__list--item__linK{
    text-decoration: none;
    color: white;
}




